@font-face {
    font-family: "catFont";
    src: url("KatypeScribe-qwe0.ttf");
}

html {
    font-family: "Trebuchet", sans-serif, "catFont";
    background-color: violet;
}

#main {
    width: 960px;
    height: auto;
    margin: 0 auto;
    padding: 0;
}
